<div class="inline-heading">
  <h2> Cart </h2>
   <button 
        [routerLink]="['/']"
      >
     Continue shopping
      </button>
</div>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<a *ngIf="!checked" (click)="checked=true">Show shipping prices</a>
<a *ngIf="checked" (click)="checked=false">Hide shipping prices</a>

<div *ngIf="checked" class="shipping-items--box">
  <div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
    <span>{{ shipping.type }}</span>
    <span>{{ shipping.price | currency }}</span>
  </div>
</div>

<form class="mt-1" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div class="form-group mr-1">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>

  <div class="form-group mr-1">
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>
</form>

